bcrypt==5.0.0
docxtpl==0.20.2
dotenv==0.9.9
getmac==0.9.5
greenlet==3.2.4
Jinja2==3.1.6
lxml==6.0.2
MarkupSafe==3.0.3
PyMySQL==1.1.2
PySide6==6.10.0
PySide6_Addons==6.10.0
PySide6_Essentials==6.10.0
python-docx==1.2.0
python-dotenv==1.2.1
shiboken6==6.10.0
SQLAlchemy==2.0.44
SQLAlchemy-Utils==0.42.0
typing_extensions==4.15.0
